<h1 align='center'>Welcome!</h1>
<p>Menu page</p>
<div align='center' >

<%= link_to 'Sign in', :controller => 'users', :action =>'sign_in' %>
<%= link_to 'Sign up', :controller => 'users', :action =>'sign_up' %>
<%= link_to 'Sign_out', destroy_user_session_path, :method=>'delete' %>

</div>
